apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: "{{.Deploy_name}}"
  namespace: "{{.Namespace}}"
spec:
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: "{{.Deploy_name}}"
  {{if .Deploy.Scalability.MinReplicas}}minReplicas: {{.Deploy.Scalability.MinReplicas}}{{end}}
  {{if .Deploy.Scalability.MaxReplicas}}maxReplicas: {{.Deploy.Scalability.MaxReplicas}}{{end}}
  {{if .Deploy.Scalability.TargetCPUUtilizationPercentage}}targetCPUUtilizationPercentage: {{.Deploy.Scalability.TargetCPUUtilizationPercentage}}{{end}}
---
