apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: "{{.Application_name}}-{{.Deploy.Name}}"
  namespace: "{{.Namespace}}"
  annotations:
    kubernetes.io/tls-acme: "false"
    kubernetes.io/ingress.class: "nginx"
    {{if .Deploy.Ports.External.WEBSOCKET}}nginx.org/websocket-services: "{{.Application_name}}-{{.Deploy.Name}}"{{end}}
spec:
  rules:
{{range $hostname := .Hostnames}}
  - host: {{$hostname}}
    http:
      paths:
      - backend:
          serviceName: {{$.Application_name}}-{{$.Deploy.Name}}
          servicePort: {{$.Deploy.Ports.Internal.HTTP}}
        path: /
  tls:
  - hosts:
    - {{$hostname}}
    secretName: "{{$hostname | mapDomainToCert}}"
{{end}}
---
