apiVersion: v1
kind: Service
metadata:
  name: "{{.Application_name}}-{{.Deploy.Name}}-{{.Build_id}}"
  namespace: {{.Namespace}}
spec:
  ports:
  - port: {{.Deploy.Ports.Internal.HTTP}}
    protocol: TCP
    targetPort: {{.Deploy.Ports.Internal.HTTP}}
  selector:
    application: "{{.Application_name}}-{{.Deploy.Name}}"
    build: "{{.Build_id}}"
  sessionAffinity: None
---
